@import "~react-image-gallery/styles/css/image-gallery.css";

/* Global Styles */
:root {
  --primary-color: #17a2b8;
  --dark-color: #343a40;
  --light-color: #f4f4f4;
  --danger-color: #dc3545;
  --success-color: #28a745;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Raleway', sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  background-color: #fff;
  color: #333;
}

a {
  color: var(--primary-color);
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

/* Utilities */
.container {
  max-width: 1300px;
  margin: auto;
  overflow: hidden;
  padding: 0 2rem;
  margin-top: 6rem;
  margin-bottom: 3rem;
}

/* Text Styles*/
.x-large {
  font-size: 4rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.large {
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.home-title {
  text-align: center;
  padding: 30px;
}

.lead {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.text-center {
  text-align: center;
}

.text-primary {
  color: var(--primary-color);
}

.text-dark {
  color: var(--dark-color);
}

/* Padding */
.p {
  padding: 0.5rem;
}
.p-1 {
  padding: 1rem;
}
.p-2 {
  padding: 2rem;
}
.p-3 {
  padding: 3rem;
}
.py {
  padding: 0.5rem 0;
}
.py-1 {
  padding: 1rem 0;
}
.py-2 {
  padding: 2rem 0;
}
.py-3 {
  padding: 3rem 0;
}

/* Margin */
.m {
  margin: 0.5rem;
}
.m-1 {
  margin: 1rem;
}
.m-2 {
  margin: 2rem;
}
.m-3 {
  margin: 3rem;
}
.my {
  margin: 0.5rem 0;
}
.my-1 {
  margin: 1rem 0;
}
.my-2 {
  margin: 2rem 0;
}
.my-3 {
  margin: 3rem 0;
}

.btn {
  display: inline-block;
  background: var(--light-color);
  color: #333;
  padding: 0.4rem 1.3rem;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  margin-right: 0.5rem;
  transition: opacity 0.2s ease-in;
  outline: none;
}

.badge {
  font-size: 0.8rem;
  padding: 0.1rem;
  text-align: center;
  margin: 0.3rem;
  background: var(--light-color);
  color: #333;
}

.alert {
  padding: 0.8rem;
  margin: 1rem 0;
  opacity: 0.9;
  background: var(--light-color);
  color: #333;
}

.btn-primary,
.bg-primary,
.badge-primary,
.alert-primary {
  background: var(--primary-color);
  color: #fff;
}

.btn-light,
.bg-light,
.badge-light,
.alert-light {
  background: var(--light-color);
  color: #333;
}

.btn-dark,
.bg-dark,
.badge-dark,
.alert-dark {
  background: var(--dark-color);
  color: #fff;
}

.btn-danger,
.bg-danger,
.badge-danger,
.alert-danger {
  background: var(--danger-color);
  color: #fff;
}

.btn-success,
.bg-success,
.badge-success,
.alert-success {
  background: var(--success-color);
  color: #fff;
}

.btn-white,
.bg-white,
.badge-white,
.alert-white {
  background: #fff;
  color: #333;
  border: #ccc solid 1px;
}

.btn:hover {
  opacity: 0.8;
}

.bg-light,
.badge-light {
  border: #ccc solid 1px;
}

.round-img {
  border-radius: 50%;
}

.line {
  height: 1px;
  background: #ccc;
  margin: 1.5rem 0;
}

/* Overlay */
.dark-overlay {
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Forms */
 
.form .form-group {
  margin: 1.2rem 3rem;
}

.form input[type='submit'] {
  margin-left: 3rem;
}

.form .form-text {
  display: block;
  margin-top: 0.3rem;
  color: #888;
}

.search-input
{
  margin: auto;
  width: 50%;
}

.form input[type='text'],
.form input[type='email'],
.form input[type='password'],
.form input[type='date'],
.form input[type='number'],
.form select,
.form textarea {
  display: block;
  width: 100%;
  padding: 0.4rem;
  font-size: 1.2rem;
  border: 1px solid #ccc;
  margin:auto;
}

.form input[type='submit'],
button {
  font: inherit;
}

.form .social-input {
  display: flex;
}

.form .social-input i {
  padding: 0.5rem;
  width: 4rem;
}

.form .social-input i.fa-twitter {
  color: #38a1f3;
}
.form .social-input i.fa-facebook {
  color: #3b5998;
}
.form .social-input i.fa-instagram {
  color: #3f729b;
}
.form .social-input i.fa-youtube {
  color: #c4302b;
}
.form .social-input i.fa-linkedin {
  color: #0077b5;
}

.table th,
.table td {
  padding: 1rem;
  text-align: left;
}

.table th {
  background: var(--light-color);
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.7rem 2rem;
  position: fixed;
  z-index: 1;
  width: 100%;
  top: 0;
  border-bottom: solid 1px var(--primary-color);
  opacity: 0.9;
}

.navbar ul {
  display: flex;
}

.navbar a {
  color: #fff;
  padding: 0.45rem;
  margin: 0 0.25rem;
}

.navbar a:hover {
  color: var(--primary-color);
}

.navbar .welcome span {
  margin-right: 0.6rem;
}

/* Landing Page */
.landing {
  position: relative;
  height: 100vh;
}

.landing-inner {
  color: #fff;
  height: 100%;
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

/* Profiles Page */
.profile {
  display: grid;
  grid-template-columns: 2fr 4fr 2fr;
  align-items: center;
  grid-gap: 2rem;
  padding: 1rem;
  line-height: 1.8;
  margin-bottom: 1rem;
}

/* Profile Page */
.profile-grid {
  display: grid;
  grid-template-areas:
    'top top'
    'about about'
    'exp edu'
    'github github';
  grid-gap: 1rem;
}

.profile-top {
  grid-area: top;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.profile-top img {
  width: 250px;
}

.profile-top .icons a {
  color: #fff;
  margin: 0 0.3rem;
}

.profile-top .icons a:hover {
  color: var(--dark-color);
}

.profile-about {
  grid-area: about;
  text-align: center;
}

.profile-about .skills {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.profile-exp {
  grid-area: exp;
}

.profile-edu {
  grid-area: edu;
}

.profile-exp h2,
.profile-edu h2 {
  margin-bottom: 1rem;
}

.profile-exp > div,
.profile-edu > div {
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  border-bottom: #ccc 1px dotted;
}

.profile-exp > div:last-child,
.profile-edu > div:last-child {
  border: 0;
}

.profile-exp p,
.profile-edu p {
  margin: 0.5rem 0;
}

.profile-github {
  grid-area: github;
}

.profile-github .repo {
  display: flex;
}

.profile-github .repo > div:first-child {
  flex: 7;
  flex-basis: 70%;
}

.profile-github > div:last-child {
  flex: 3;
  flex-basis: 20%;
}

/* Posts Page */
.post-form .post-form-header {
  background: var(--primary-color);
  padding: 0.5rem;
}

.post {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-gap: 2rem;
  align-items: center;
}

.post > div:first-child {
  text-align: center;
}

.post img {
  width: 100px;
}

.post .comment-count {
  background: var(--light-color);
  color: var(--primary-color);
  padding: 0.1rem 0.2rem;
  border-radius: 5px;
  font-size: 0.8rem;
}

.post .post-date {
  color: #aaa;
  font-size: 0.8rem;
  margin-bottom: 0.5rem;
}

.preview {
  width: 250px;
  height: 250px;
  margin: 30px 50px;
}

.remove_label {
  text-align: center;
  color: red;
}

.item_body {
  border-bottom: 1px solid #e0e0e0;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  background-color: #f5f5f5;
  background-size: 30px 30px;
  font-size: 24px;
  font-family: 'Poppins';
}

.item_body label {
  float: left;
  margin: 0;
  padding: 8px 10px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  color: #5c5c5c;
  font-size: 24px;
  font-weight: 600;
}

.item_footer {
  overflow: auto;
  margin-left: 10px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  background-color: rgb(245, 245, 245);
  color: rgb(116, 116, 116);
  font-size: 15px;
  line-height: 20px;
}

.search_box input{
  width: 100%;
  height: 50px;
  font-size: 18px;
}

.logo {
  float: right;
  padding: 0.25rem 0.5rem;
}

.wrapper_order_item {
  margin: 15px auto;
  max-width: 1000px;
}

.wrapper_space_item {
  background: #ffffff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  font-family: Roboto;
  overflow: hidden;
  border: solid 1px #e4e4e4;
  margin-bottom: 15px;
  max-width: 600px;
}

.wrapper_space_item .wp_image {
  width: 180px;
  height: 180px;
  position: relative;
  float: left;
}

.wrapper_space_item .wp_image .wp_image_frame {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.wrapper_space_item .wp_content {
  padding: 0px 12px;
  overflow: hidden;
}

.wrapper_space_item .wp_content .wp_space_free {
  background-color: lightgreen;
  border-radius: 4px;
}

.wrapper_space_item .wp_content .wp_space_rent {
  background-color: palevioletred;
  border-radius: 4px;
}

.wrapper_space_item .wp_location {
  font-size: 17px;
  font-weight: bold;
  padding: 5px;
}

.wrapper_space_item .wp_description {
  font-size: 16px;
  padding: 5px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.wrapper_space_item .wp_order_description {
  font-size: 16px;
  padding: 5px;
}

.wrapper_space_item .wp_price {
  font-size: 20px;
  line-height: 36px;
  font-weight: 300;
  color: #333333;
  margin-left: 5px;
}

.wrapper_space_item .wp_renttype {
  font-size: 16px;
  padding: 5px;
}

.main_content {
  width: 100%;
  overflow: hidden;
}

.content_listings {
  overflow: hidden;
  float: left;
  background-color: #eeeeee;
  margin-top: 20px;
  padding: 10px;
}

.content_map {
  width: 550px;
  float: left;
  margin: 20px;
}

.seller-information {
  max-width: 600px;
  float: right;
}

.space-available {
  margin: 20px 0;
}

.gallery-section{
  max-width: 600px;
  margin-left: auto;
  margin-right:auto;
  float: left;
}

.action-buttons {
  margin-top: 20px;
}

.image-gallery {
  max-width: 600px;
  float: left;
  margin-right: 50px;
}

.booking-info {
  font-size: 18px;
  margin: 10px;
}

.calendar-section {
  margin: 20px 0;
}

.date-label {
  font-size: 18px;
  margin-right: 20px;
}

.booking-info-title {
  color: blue;
}

.react-datepicker-wrapper input {
  width: 150px;
  height: 30px;
  font-size: 18px;
}

.payment_section {
  text-align: center;
}

/* Chat Container Layout */

.chat-container {
  height: calc(100vh - 150px);
  padding-right: 15px;
  padding-left: 15px;
  padding: 0 2rem;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  color: rgba(0, 0, 0, 0.84);
  background: rgb(0,121,57);
  background: linear-gradient(122deg, rgba(0,86,107,1) 0%, rgba(0,142,120,1) 48%, rgba(0,206,135,1) 100%);
}

.fw {
  height: 100%;
}

.d-flex {
  display: -webkit-flex;
  display: flex;
}

#sidebar{
  width: 212px;
  flex-shrink: 0;
  height: calc(100vh - 150px);
  overflow-y: scroll;
}

#sidebar h2{
  font-size: 24px;
  margin: 15px 0;
  color: #FFF;
  line-height: 0.8;
}

#sidebar .user-list li{
  padding: 10px;
  border-radius: 8px;
  margin-top: 10px;
}

#sidebar ul.user-list li:hover {
  background-color: lightgrey !important;
}

#sidebar .user-list .u-pp{
  padding: 12px;
  color: #FFF;
  border-radius: 50%;
  font-weight: 700;
  text-transform: uppercase;
  height: 42px;
  width: 42px;
  text-align: center;
  margin-right: 6px;
}

.message-unread {
  display: inline-block;
  width: 20px;
  height: 20px;
  line-height: 20px;
  border-radius: 50%;
  font-size: 16px;
  text-align: center;
  background-color: red;
  color: #222;
  margin-left: 20px;
  margin-top: 10px;
}

#chatbox {
  height: calc(100vh - 150px);
  width: 100%;
  flex-direction: column;
}
#chatbox form{
  border-radius: 6px;
  background: #FFF;
  padding: 10px 20px;
  position: relative;
  height: 67px;
  flex-shrink: 0;
}

#chatbox input{
  resize: none;
  padding: 15px;
  border-radius: 25px;
  box-sizing: border-box;
  width: 100%;
  font-size: inherit;
  outline: 0;
  border: none;
  padding-right: 92px;
  background-color: #e6eff8;
}

#chatbox button{
  border: none;
  outline: 0;
  color: #fff;
  position: absolute;
  right: 24px;
  top: 13px;
  height: 40px;
  width: 80px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 20px;
  background: #7279ff;
  background: -moz-linear-gradient(-45deg,#7279ff 0%,#af2bf0 100%);
  background: -webkit-linear-gradient(-45deg,#7279ff 0%,#af2bf0 100%);
  background: linear-gradient(135deg,#7279ff 0%,#af2bf0 100%);
  transition: all .35s ease-out;
  -webkit-box-shadow: 0px 0px 14px -3px rgba(0,0,0,1);
  -moz-box-shadow: 0px 0px 14px -3px rgba(0,0,0,1);
  box-shadow: 0px 0px 14px -3px rgba(0,0,0,1);
}

#chatbox button[disabled] {
  opacity: 0.5;
}

#chatbox .messages{
  padding: 15px;
  overflow-y: scroll;
  overflow-x: hidden;
  height: 100%;
  background-color: #FFF;
  margin: 15px 0;
  border-radius: 6px;
  position: relative;
}

#chatbox .messages li>p{
  display: inline-block;
}

#chatbox .messages li .m{
  background: #e6eff8;
  color: #000;
  padding: 10px 15px;
  border-radius: 20px;
  display: inline-block;
  margin: 6px 0;
}

#chatbox .messages li.no-msg{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 16px;
  text-align: center;
}

#chatbox .messages .m-box.right .m{
  background: #7279ff;
  background: -moz-linear-gradient(-45deg,#7279ff 0%,#af2bf0 100%);
  background: -webkit-linear-gradient(-45deg,#7279ff 0%,#af2bf0 100%);
  background: linear-gradient(135deg,#7279ff 0%,#af2bf0 100%);
  color: #FFF;
  order: 2;
}
#chatbox .messages .m-box{
  align-items: center;
}

#chatbox .messages .m-box.right{
  justify-content: flex-end;
}

#chatbox .messages .m-box small{
  color: #575757;
  margin: 0 4px;
}

#chatbox .sender{
  font-size: 12px;
  padding: 0 2px;
  text-align: left;
  display: block;
  margin-top: -6px;
}

/* Mobile Styles */
@media (max-width: 700px) {
  .container {
    margin-top: 8rem;
  }

  .hide-sm {
    display: none;
  }

  /* Text Styles */
  .x-large {
    font-size: 3rem;
  }

  .large {
    font-size: 2rem;
  }

  .lead {
    font-size: 1rem;
  }

  /* Navbar */
  .navbar {
    display: block;
    text-align: center;
  }

  .navbar ul {
    text-align: center;
    justify-content: center;
  }

  .navbar h1 {
    margin-bottom: 1rem;
  }

  .navbar .welcome {
    display: none;
  }

  /* Profiles Page */
  .profile {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .profile ul {
    display: none;
  }

  /* Profile Page */

  .profile-top img,
  .profile img {
    width: 200px;
    margin: auto;
  }

  .profile-grid {
    grid-template-areas:
      'top'
      'about'
      'exp'
      'edu'
      'github';
  }

  .profile-about .skills {
    flex-direction: column;
  }

  .dash-buttons a {
    display: block;
    width: 100%;
    margin-bottom: 0.2rem;
  }

  .post {
    grid-template-columns: 1fr;
  }
  .post a,
  .post button {
    padding: 0.3rem 0.4rem;
  }

  .content_listings {
    margin-right: 0;
    width: 100%;
  }

  .content_map {
    width: 300px;
    height: 300px;
    margin: 10px;
  }

  .wrapper_space_item {
    padding: 5px;
  }

  .wrapper_space_item .wp_image {
    width: 100%;
    padding: 5px;
  }

  .wrapper_space_item .wp_content h5 {
    font-size: 12px;
  }

  #map {
    width: 300px;
    height: 300px;
  }

  .form .form-group {
    margin: 15px 5px;
  }

  .preview {
    width: 200px;
    height: 200px;
    margin: 20px auto;
    text-align: center;
    display: block;
  }

  .upload_frame {
    padding-top: 10px;
  }

  .remove_label {
    text-align: center;
    color: red;
    font-size: 15px;
  }

  .form input[type='submit'] {
    margin-left: 0;
  }

  .gallery-section{
    max-width: 300px;
    margin-left: auto;
    margin-right:auto;
  }

  .vendor-detail {
    float: left;
    margin-bottom: 10px;
    margin-top: 10px;
  }
  .vendor-name {
    margin-top: 10px;
  }

  .space-available {
    margin: 10px 0;
  }

  .main-wrapper{
    flex-direction: column;
    height: 100%;
  }
  .main-wrapper>*{
    width: 100% !important;
  }
  .main-wrapper>#sidebar{
    height: auto;
    max-height: 155px;
  }

  .main-wrapper>#chatbox{
    height: 100%;
  }

  .main-wrapper .spacer{
    display: none;
  }

  .fw{
    height: 100%;
  }

  #chatbox .messages {
    height: calc(100% - 146px);
  }

  #chatbox form {
    padding: 10px;
  }

  #chatbox button {
    right: 13px;
    width: 40px;
    padding: 12px 0px;
  }

  #chatbox input {
    padding-right: 52px;
  }
  #sidebar h2 {
    font-size: 20px;
  }
  #sidebar .user-list li{
    padding: 6px;
  }
  #sidebar .user-list .u-pp {
    padding: 10px;
    height: 38px;
    width: 38px;
  }
}
